// --------------------------------------
// Fluid
// https://github.com/fluid-dev/hexo-theme-fluid
// --------------------------------------

@import "_variables/base"

@import "_functions/base"

@import "_mixins/base"

@import "_pages/pages"

.icon {
    width: 17px;
    height: 100%;
}

.heimu {
    background-color: black
    color: black
    transition: background-color 0.5s
}

.heimu:hover {
    background-color: #fff}